#selectBox{
    margin: 1%;
    margin-left: 6%;
}
.tool-tip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 15px;
}
.row {
    display: inline-flex;
    flex-wrap: wrap;
}

.column1 {
    flex: 50%;
    max-width: 45%;
    margin-left: 5%;
}
.column2 {
    flex: 50%;
    max-width: 45%;
}

.grid-container {
    margin-left: 5%;
}


img {
    width: 6em;
    height: 6em;
    padding-top: 8px;
    margin-left: 20px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .grid-container {
        flex: 15%;
        max-width: 100%;
    }

}

h1{
    text-align: center;
}

/*!* Responsive layout - makes the two columns stack on top of each other instead of next to each other *!*/
/*@media screen and (max-width: 600px) {*/
/*    .column {*/
/*        flex: 100%;*/
/*        max-width: 100%;*/
/*    }*/
/*    .grid-container{*/
/*        flex: 15%;*/
/*        max-width: 100%;*/
/*    }*/
/*  */

/*}*/





.jumbotron {
    padding-top: -10px;
    padding-bottom: -10px;
    margin-bottom: 0;
}

#viz1, #viz2, #viz3, #viz4 {
    border: 1px solid gray;
    border-radius: 10px;
    height: 500px;
    width: 45%;
    margin-left: 1%;
    margin-top: .5%;
    position: relative;
    display: inline-block;
    float: left;
    vertical-align: top;
}