.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 15%;
    max-width: 18%;
}

.grid-container {
    flex: 15%;
    max-width: 60%;
}


img {
    width: 6em;
    height: 6em;
    padding-top: 8px;
    margin-left: 20px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .grid-container{
        flex: 15%;
        max-width: 100%;
    }

}

/*!* Responsive layout - makes the two columns stack on top of each other instead of next to each other *!*/
/*@media screen and (max-width: 600px) {*/
/*    .column {*/
/*        flex: 100%;*/
/*        max-width: 100%;*/
/*    }*/
/*    .grid-container{*/
/*        flex: 15%;*/
/*        max-width: 100%;*/
/*    }*/
/*  */

/*}*/

.jumbotron {
    padding-top: -10px;
    padding-bottom: -10px;
    margin-bottom: 0;
}

.viz {
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 50%;
}